<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../重置样式表/reset.css">
    <title>Document</title>
    <style>
        .img{
            width:600px;
            height:600px;
            border: aqua double 30px;
            background:url(../img/ex3.png) no-repeat border-box border-box 30px 30px/contain red ;
            border-radius: 50%;
            box-shadow: 10px 10px 10px rgb(0, 0, 0);

        }
 
    </style>
</head>
<body>
    <div class="img">
       
    </div>
 
</body>
</html>