<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="https://ww.baidu.com">
        账户<input type="text"name="username"autocomplete="off"><br>
        账户<input type="text"name="username"autocomplete="off"readonly disabled ><br>
        密码<input type="password"name="password"autofocus>
        <input type="submit"value="注册"><br>
        A<input type="radio"name="sellect"value="A"checked>
        B<input type="radio"name="sellect"value="B">
        C<input type="radio"name="sellect"value="C"><br>
        A<input type="checkbox"name="sellect"value="A"checked>
        B<input type="checkbox"name="sellect"value="B">
        C<input type="checkbox"name="sellect"value="C"><br>
        <select name="sellect" id="">
            <option value="A">A</option>
            <option value="B"selected>B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select><br>
        <input type="color">
        <input type="reset">
        <input type="button"value="登陆">
        <button type="submit">提交</button>
        
    
    
    
    </form>
</body>
</html>