<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是我的布局</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./style1.css">
    <!-- <style>
        .box4{
            width: 400px;
            height: 400px;
            background-color: aqua;
        }
    </style> -->
</head>
<body>
    <!-- <div class="box1">
        <div class="box2"></div>
        <div class="box3"></div>
    </div> -->
    <div class="box4">
        <div class="box5"></div>
    </div>

    <span class="box7">我是行内元素的盒模型</span>
    <div class="box6"></div>
</body>
</html>