<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./js/vue.js"></script>
</head>

<body>
  <div id="box">
    姓：<input type="text" v-model='firstName'><br>
    名：<input type="text" v-model='lastName'><br>
    全名：<span>{{fullName}}</span>
  </div>
  <script>
    Vue.config.productionTip = false
    new Vue({
      el:'#box',
      data() {
        return {
          firstName:'齐',
          lastName:'存强',
          // fullName:'齐-存强'//用watch监视的话需要提前在data中定义好
        }
      },
       computed: {
        fullName(){
          setTimeout(() => {
            return `${this.firstName} - ${this.lastName}`
          }, 1000);
        }
      },
      watch: {
        firstName(val){
          setTimeout(() => {//watch中可以进行异步操作
            this.fullName = val+"-"+this.lastName//改姓的时候 fullName = 姓的新值+名
          }, 1000);
        },
        lastName(val){
          setTimeout(() => {//定时器不是Vue所管理的函数，用箭头操作的话this指的是vm
            this.fullName = this.firstName+'-'+val
          }, 1000);
        }
      },
    })
  </script>
</body>

</html>